body {
    background-color:floralwhite;
}

header {
    width:800px;
    height:200px;
    background-color:aquamarine;
    margin-left: 15%;
}
h1 {
    text-align: center;
    font-family: monospace; 
    color:palevioletred;
    font-size: 3em;
}
div {
    float:left;
    width:27%;
    margin-left:5%;
    text-align: left;
    border-style:solid;
    border-color:paleturquoise;
    background-color:white;
}

li {
    color:palegreen;
    font-family: monospace; 
    font-size: 1.5em;
}

h2 {
    color:orchid;
    text-align: center;
    font-family: monospace; 
    font-size: 2em;
}

a {
      color:pink;
    font-family: monospace; 
    font-size: 1em;
}
    
footer {
    background-color: white;
    font-family: serif;
   clear:both;
    text-align: center;
    margin-top:10%;
    color:aliceblue;
}